.panel.panel-default
  .panel-heading Estudantes
  %table.table
    %thead
      %tr
        %th Nome
        %th Número de Registro
        %th Ações
    %tbody
      - Student.all.each do |student|
        %tr
          %td= student.name
          %td= student.register_number
          %td.links
            = link_to "Visualizar", student_path(student)
            = link_to "Editar", edit_student_path(student)
            = link_to "Remover", student_path(student), method: :delete

= link_to "Voltar", root_path, class: 'button default'