%h3= "Estudante #{@student.id}"

%strong Nome
= @student.name

%br/
%strong Número de Registro
= @student.register_number

%br/
%strong Situação
= status @student.status

- if @student.courses.present?
  %br/
  %br/
  %strong Cursos
  %br/
  - @student.courses.each do |course|
    = course.name
    %strong= "Vinculado em #{course.linked_at(@student)}"
    %br/

%br/
= link_to "Voltar", root_path
= link_to "Editar", edit_student_path(@student)
= link_to "Vincular cursos", student_classroom_path(@student)