%h3= "Estudante #{@student.id}"

= label_tag :name
= @student.name

%br/
= label_tag :register_number
= @student.register_number

%br/
= label_tag :status
= @student.status

%br/
= link_to "Voltar", root_path