%h4 Estudantes
- Student.all.each do |student|
  = student.name

  = link_to "Visualizar", student_path(student)
  = link_to "Editar", edit_student_path(student)
  = link_to "Remover", student_path(student), method: :delete
  %br/

%h4 Cursos
- Course.all.each do |course|
  = course.name

  = link_to "Visualizar", course_path(course)
  = link_to "Editar", edit_course_path(course)
  = link_to "Remover", course_path(course), method: :delete
  %br/