- Course.all.each do |course|
  = course.name
  = link_to "Visualizar", course_path(course)
  = link_to "Editar", edit_course_path(course)
  = link_to "Remover", course_path(course), method: :delete

%br/
= link_to "Voltar", root_path