%h3= "Curso #{@course.id}"

%strong Nome
= @course.name

%br/
%strong Descrição
= @course.description

%br/
%strong Situação
= status @course.status

- if @course.students.present?
  %br/
  %br/
  %strong Estudantes
  %br/
  - @course.students.each do |student|
    = student.name
    %strong= "Vinculado em #{student.linked_at(@course)}"

%br/
%br/

.button-group
  = link_to "Voltar", root_path, class: 'button default'
  = link_to "Editar", edit_course_path(@course), class: 'button default'
  = link_to "Vincular estudantes", course_classroom_path(@course), class: 'button default'